img{
  height: 25%;
  width: 25%;
}
.me{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left ;
  padding: 65px;
}

.me1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.me1 button{
  border-radius: 20px;
  background-color: transparent;
}

.me1 .social {
  padding: 8px;
  margin: 8px;
  height: auto;
  width: auto;
  color: black;
}

.me1 .social a{
  padding: 1px;
  margin: 1px;
}

.me1 .social i{
  font-size: larger;
  color: black;
}

.about{
  padding: 10px;
  margin: 10px;
}

.card{
  padding: 10px;
  margin: 10px;
}

.projects{
  padding: 10px;
  margin: 10px;
}

.pro{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
